input:focus, textarea {
    outline: none !important;
}
body{
	font-family: arial,sans-serif;
	margin :0;
}
header{
	display:flex;
	justify-content: flex-end;
	margin-top: 20px;
	height: 30px;
	line-height: 24px;
	font-size: 13px;
	color: rgba(0,0,0,0.87);
}
footer{
	display:flex;
	flex-direction: column;
	max-height: 100px;
	width:100%;
    position: fixed;
    bottom: 0;
    font-size: small;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    background-color: #F0F0F0	;
    
}

.linkHeader a{
	margin-right: 10px;
	text-decoration: none;
	vertical-align: middle;
	color: #222;
	padding-top: 5px;
}
.linkHeader a:hover{
	text-decoration: underline;
}
.linkbottomRight a{
    color: rgba(0,0,0,.54);
	text-decoration: none;
	margin-left : 30px;

}
.linkbottomRight a:hover{
	text-decoration: underline;
}
.linkbottomLeft a{
    color: rgba(0,0,0,.54);
	text-decoration: none;
	margin-left: 30px;
}
.linkbottomLeft a:hover{
	text-decoration: underline;
}
.input{
	height: 34px;
	width: 387px;
	border: 0;
	-webkit-appearance: none
}
.searchButton a{
	height: 36px;
	line-height: 27px;
	color: #5F6368;
	text-decoration: none;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color: #f2f2f2;
	border:1px solid #f2f2f2;
	border-radius: 4px;
	margin: 11px 4px;
	font-size: 14px;
	padding: 10px 16px 10px 16px;
	min-width: 54px;
}
#invisible{
	min-width: 650px;
}
#squares{
	margin-right: 10px;
	vertical-align: middle;
	padding-top: 2px;
	fill:#E8E8E8;
}
#square{
	fill:#808080	;
}
#square:hover{
	fill:#404040	;
}
#connexion {
	margin-right: 10px;
	vertical-align: middle;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 28px;
	border-radius: 2px;
	border:1px solid #4285f4;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}
#connexion a{
	text-decoration: none;
	color: #fff;
}
#connexion:hover{
   	box-shadow: 0px 1px 0px #aaa;
}
#central{
	display:flex;
	flex-direction: column;
	min-height: 400px;
	justify-content: center;
	text-align: center;
}
#loupe{
	height: 20px;
	width: 20px;
	margin-left: 15px;
	padding-top: 10px;
	fill:#787878;
}
#commandeVocale{
	padding-top: 8px;
}
#searchContainer{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}
#searchBar{
	display: flex;
	border: 1px solid #E8E8E8;
	width: 460px;
	height: 39px;
	border-radius: 20px;

}
#searchBar:hover{
   	box-shadow: 0.5px 1px 0.5px 0.5px #aaa;
}
#linkImages{
	margin-top: 20px;
}
#searchButton{
	display:flex;
	justify-content: center;
	margin-top: 40px;
}
.searchButton a:hover{
   	border: 1px solid #aaa;
}
#languagePref{
}

#footerHaut{
	text-align: left;
	padding-left: 30px;
	height: 40px;
	justify-content: center;
	font-size: 15px;
	line-height: 40px;
	border-top: 1px solid #E8E8E8	;
	border-bottom:  1px solid #E8E8E8		;
}
#footerBas{
	display:flex;
	height: 40px;
}
#bottomleft{
	display:flex;
	justify-content: flex-start;
	width: 50%;
	height: 40px;
	min-width: 625px;
}
#bottomRight{
	display:flex;
	justify-content: flex-end;
	width:50%;
	min-width: 625px;
	margin-right: 30px;
	white-space: nowrap;
	height: 40px;
}
.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px 0;
 font-size: 11px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}